@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");

*,
html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header img {
  height: 100%;
}

header .user-avatar {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .user-avatar:hover {
  background-color: #000;
  color: #f5f5f5;
  cursor: pointer;
}

header .user-init {
  font-size: 2rem;
}

#main-element {
  margin-top: 8.5rem;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-element {
  width: 50%;
  height: 35rem;
  padding: 2rem;
  background-color: #f5f5f5;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.quiz-welcome p {
  font-size: 1.5rem;
}

.quiz-footer {
  margin-bottom: -4rem;
}

.primary-btn {
  color: #f5f5f5;
  font-size: 1.5rem;
  background-color: #097fa3;
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 50px;
}

.primary-btn:hover {
  cursor: pointer;
}

.primary-btn:active {
  background-color: #066481;
}

.secondary-btn {
  color: #097fa3;
  font-size: 1.5rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 2px solid #097fa3;
  width: 150px;
  height: 50px;
}

.secondary-btn:hover {
  cursor: pointer;
}

.secondary-btn:active {
  background-color: #dbdbdb;
}

footer {
  position: fixed;
  width: 100vw;
  height: auto;
  bottom: 0;
  left: 0;
  background-color: #097fa3;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

footer p {
  color: #f5f5f5;
}
